<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-services-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Services</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="exterior-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exterior Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="exterior-link">
                <a href="{% url 'products' %}?category=exterior_services" class="dropdown-item">All Exterior Services</a>
                <a href="{% url 'products' %}?category=ceramic_coating" class="dropdown-item">Ceramic Coating</a>
                <a href="{% url 'products' %}?category=paint_protection" class="dropdown-item">Paint Protection</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="interior-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Interior Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="interior-link">
                <a href="{% url 'products' %}?category=interior_services" class="dropdown-item">All Interior Services</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="packages-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Valeting Packages
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="packages-link">
                <a href="{% url 'products' %}?category=full_valeting" class="dropdown-item">Full Valeting Packages</a>
                <a href="{% url 'products' %}?category=corporate_fleet" class="dropdown-item">Corporate & Fleet Services</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=gift_vouchers" class="dropdown-item">Gift Vouchers</a>
            </div>
        </li>
    </ul>
</div>